<!-- Image introduce -->
<div class="image-introduce">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <a href="play-game" class="btn btn-primary">Chơi game</a> <span style='color:red;margin-right:1.25em'></span>
        <a href="" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">Học chơi</a>
      </div>
    </div>
  </div>
</div>
<!-- End of image introduce -->





<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Hướng dẫn chơi game</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h1>
          Đuổi hình bắt chữ
        </h1>
        <p>
          Đuổi hình bắt chữ là một trò chơi giải trí trên Kênh 1 - Đài Phát thanh và Truyền hình Hà Nội. Chương trình
          được phát sóng vào 19h50 thứ 7 hàng tuần.
        </p>
        <p>
          Chương trình được dựa theo format gốc của gameshow "Catchphrase" tại Anh.

          Số đầu tiên đã được lên sóng vào ngày 06/03/2004 với sự dẫn dắt của MC Xuân Bắc. Khi lên sóng sẽ mang đến
          người chơi cho chương trình nhiều điều thú vị và không kém phần hài hước.
        </p>

        <img src="assets/images/background/img2.jpg" alt="img1">

        <br> <br>
        <P>Người chơi sẽ được xem một khung hình rồi đoán câu phù hợp với khung hình đó, đôi khi người chơi sẽ được cho
          thêm thông tin để giải được câu đố đó.</P>

        <a href="https://vi.wikipedia.org/wiki/%C4%90u%E1%BB%95i_h%C3%ACnh_b%E1%BA%AFt_ch%E1%BB%AF">Nguồn wiki</a>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Đóng màn hình</button>
      </div>
    </div>
  </div>
</div>
<!-- End of modal -->